<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
  <head>
    <link rel='stylesheet' type="text/css" href='style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="navbar.js"></script>
         <script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

    <title>Champions League Stats</title>
    <script src="form.js"></script>
	  	<script src="app.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <button>🞬</button>
        <li><a href="strzelcy.html">Najlepsi strzelcy</a></li>
        <li><a href="ranking.html">Ranking drużyn</a></li>
        <li><a href="kartki.html">Zawodnicy z największą ilością kartek</a></li>
        <li><a href="main.html">Strona główna</a></li>
      </ul>
    </nav>
    <h1>Champions League Stats</h1>

	<div id="app-instasearch">
	
		<div class="input-container">
			<input type="text" placeholder="Wpisz nazwę klubu" v-model="authorNameSearchString" />
		</div>
		
		<transition-group tag="ul" name="list-animation">
			
			<li class="photo photo-animated" v-for="photo in filteredPhotoFeed" v-bind:key="photo.id">
				<img v-bind:src="photo.download_url" />
				<span class="name">{{ photo.name }}</span>
			</li>
			
		</transition-group>
	
	</div>
	
	<script src="app.js"></script>
    
  </body>
</html>
